<mat-form-field appearance="standard">
    <mat-label>Agency Name</mat-label>
    <input matInput placeholder="Enter your agency Name" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Contact name</mat-label>
    <input matInput placeholder="Enter your contact name" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Contact email</mat-label>
    <input matInput placeholder="Enter your contact email" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Agency id code</mat-label>
    <input matInput placeholder="Enter agency id code">
</mat-form-field>
<p>*required fields</p>
<button mat-button>Send</button>
