<mat-form-field appearance="standard">
    <mat-label>Company Name</mat-label>
    <input matInput placeholder="Enter your Company Name" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Contact email</mat-label>
    <input matInput placeholder="Enter your contact email" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Company Phone</mat-label>
    <input matInput placeholder="Enter your company Phone" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Comments</mat-label>
    <input matInput placeholder="add your comments here">
</mat-form-field>
<p>*required fields</p>
<button mat-button>Send</button>
