<mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your Name" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter your last name" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" required>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone">
</mat-form-field>
<p>*required fields</p>
<button mat-button>Send</button>
